# Análise de dados em SQL: Layoffs nas Empresas de Tecnologia (2022-2023)

Fonte dos dados: Kaggle

Link: https://www.kaggle.com/datasets/salimwid/technology-company-layoffs-20222023-data

## Importando bibliotecas

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

## Adicionando ID's para as linhas

In [15]:
original_df = pd.read_csv('tech_layoffs_original.csv')

In [16]:
original_df['ID'] = original_df.index

Ajeitando a ordem das colunas:

In [17]:
cols = original_df.columns.to_list()

In [18]:
cols = cols[-1:] + cols[:-1]

In [19]:
new_df = original_df[cols]

Passando para .csv:

In [20]:
new_df.to_csv('tech_layoffs_new.csv', index = False)

A partir desse arquivo, conseguimos criar um banco de dados SQLite para iniciarmos a conexão.

## Conectando com o banco de dados SQLite

In [21]:
database = 'tech_layoffs.db'
conn = sqlite3.connect(database)

---

# Data Profiling: visão e estatísticas gerais

### Quantidade de linhas e colunas

In [22]:
cols_info = pd.read_sql('''PRAGMA TABLE_INFO(data)''', conn)

nrows = pd.read_sql('''SELECT COUNT(*) FROM data''', conn).values[0][0]
ncols = len(cols_info)
print(f'(linhas, colunas): ({nrows}, {ncols})')

(linhas, colunas): (489, 10)

### Descrição das colunas

In [23]:
cols_info

   cid                           name     type  notnull dflt_value  pk
0    0                             ID  INTEGER        0       None   1
1    1                        company     TEXT        0       None   0
2    2                  total_layoffs     TEXT        0       None   0
3    3  impacted_workforce_percentage     TEXT        0       None   0
4    4                  reported_date     TEXT        0       None   0
5    5                       industry     TEXT        0       None   0
6    6           headquarter_location     TEXT        0       None   0
7    7                        sources     TEXT        0       None   0
8    8                         status     TEXT        0       None   0
9    9               additional_notes     TEXT        0       None   0

- __ID__: chave primária inteira;

- __company__: empresa que realizou o layoff (demissão em massa);

- __total_layoffs__: número de layoffs até janeiro de 2023;

- __impacted_workforce_percentage__: porcentagem da força de trabalho total da empresa que foi demitida pelos layoffs;

- __reported_date__: data em que o primeiro layoff ou planos de layoff da empresa foram anunciados;

- __industry__: segmentos de atuação da empresa;

- __headquarter_location__: localização da sede da empresa;

- __sources__: fonte dos dados;

- __status__: se a empresa é pública ou privada.

- __additional_notes__: notas adicionais sobre o plano de layoffs da empresa.

### Valores iniciais e finais do dataframe

In [24]:
pd.read_sql('''SELECT * FROM data 
               LIMIT 5''', conn)

,ID,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,0,C2FO,20,2,12/9/2022,"Fintech, payments","Leawood, KS",Kansas City Business Journal,Private,
1,1,VideoAmp,Unclear,2,9/19/2022,Advertising platforms,Los Angeles,Company memo,Private,
2,2,Amperity,13,3,8/20/2022,"Saas, analytics",Seattle,Geekwire,Private,
3,3,Addepar,20,3,1/18/2023,"fintech, data analytics","Mountain View, CA",Fortune,Private,
4,4,Thirty Madison,24,3,5/13/2022,Health Care,New York,Axios,Private,"Per Axios, 22 of the employees laid off were f..."

In [28]:
pd.read_sql('''SELECT * FROM data 
               ORDER BY ID DESC
               LIMIT 5''', conn)

,ID,company,total_layoffs,impacted_workforce_percentage,reported_date,industry,headquarter_location,sources,status,additional_notes
0,488,Blueboard,Unclear,Unclear,11/3/2022,Enterprise Software,San Francisco,LinkedIn reports,Private,
1,487,Skillz,Unclear,Unclear,8/29/2022,"Mobile Apps, Gaming",San Francisco,Seeking Alpha,Public,
2,486,LivePerson,Unclear,Unclear,9/15/2022,Customer service,New York,LinkedIn,Public,
3,485,Oracle,Unclear,Unclear,8/1/2022,"SaaS, enterprise software",Austin,The Information,Public,The Information reported thousands of people w...
4,484,Salesforce,9090,Unclear,1/4/2023,"enterprise tech, analytics",San Francisco,New York Times,Public,

## Análise univariada: estudando cada coluna separadamente

### company

### total_layoffs

### impacted_workforce_percentage

### reported_date

### industry

### headquarter_location

### sources

### status

### additional_notes

---

## Análise multivariada: estudando colunas em conjunto

---

## Conclusões

---